@font-face {
    font-family: 'Nohemi';
    font-weight: 100;
    src: url(Font/Nohemi/Nohemi-Thin.ttf);
}
@font-face {
    font-family: 'Nohemi';
    font-weight: 200;
    src: url(Font/Nohemi/Nohemi-ExtraLight.ttf);
}
@font-face {
    font-family: 'Nohemi';
    font-weight: 300;
    src: url(Font/Nohemi/Nohemi-Light.ttf);
}
@font-face {
    font-family: 'Nohemi';
    font-weight: 400;
    src: url(Font/Nohemi/Nohemi-Regular.ttf);
}
@font-face {
    font-family: 'Nohemi';
    font-weight: 500;
    src: url(Font/Nohemi/Nohemi-Medium.ttf);
}
@font-face {
    font-family: 'Nohemi';
    font-weight: 600;
    src: url(Font/Nohemi/Nohemi-SemiBold.ttf)
}
@font-face {
    font-family: 'Nohemi';
    font-weight: 700;
    src: url(Font/noyh-r/NoyhR-Bold.ttf);
}
@font-face {
    font-family: 'Nohemi';
    font-weight: 800;
    src: url(Font/Nohemi/Nohemi-ExtraBold.ttf);
}
@font-face {
    font-family: 'Nohemi';
    font-weight: 900;
    src: url(Font/Nohemi/Nohemi-Black.ttf);
}
* {
    margin: 0;
    padding: 0;
}

.body{
  font-family: 'Nohemi';
}
.navbar {
  background-color: #dbfe01;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  font-family: 'Nohemi';
  color: #000004;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
  font-size: 20px;
}

.name{
  font-family: 'Nohemi';
  font-weight: 400;
  font-size: 20px;
}

.hero {
  user-select: none;
  background-color: #dbfe01;
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.hero-text {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 100%;
}

.main-heading {
  text-transform: uppercase;
  font-family: 'Nohemi';
  font-size: 140px;
  font-weight: 900;
  line-height: 120px;
}

.rt-container{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.lp-video{
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  bottom: 20px;
  width: 80%;
  height: 130px;
}

.lp-video video{
  height: 170%;
  width: 100%;
}

.subheading {
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: 'Nohemi';
  font-size: 1rem;
}

.badges {
  font-family: 'Nohemi';
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.badge {
  font-family: 'Nohemi';
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 0.9rem;
}

/* Hero Image */
.hero-image {
  overflow: hidden;
  height: 100vh;
  display: flex;
    position: relative;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    border-radius: 40px;
}

.hero-image img {
  object-fit: cover;
    width: 60%;
}

.arrow-circle {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: #000;
  color: #dbfe01;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-circle svg{
  width: 50px;
}

.about-section{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: 87vh;
  background-color: #000004;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.show {
  opacity: 1;
  transform: translateY(0);
}

.about-text{
  position: relative;
  width: auto;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
}

.about-text span {
  padding-top: 40px;
  font-family: 'Nohemi';
  font-size: 100px;
  font-weight: 900;
}

.about-text-content{
  color: white;
}
.dot{
  color: #dbfe01;
}

.about-content{
  position: relative;
  top: 50px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  border-radius: 40px;
  background-color: #292928;
}

.about-content p{
  line-height: 50px;
  text-align: center;
  font-family: 'Nohemi';
  font-size: 30px;
  font-weight: 400;
  color: #dbfe01;
}

.img {
  overflow: hidden;
  display: inline-block;
  width: 7rem;
  height: 2.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  vertical-align: middle;
  margin: 0 0.3rem;
}
.img video{
  position: relative;
    bottom: 20px;
    width: 120px;
    height: auto;
}
.highlight {
  height: 40px;
  display: inline-block;
  background: #ccff00;
  color: #000;
  padding: 0.3rem;
  border-radius: 50px;
}

.highlight svg{
  margin-bottom: -7px;
  height: auto;
  width: 40px;
}

.fst-paragraph{
  margin-bottom: 20px;
  height: auto;
  width: 60%;
}
.snd-paragraph{
  height: auto;
  width: 60%;
}
.Resume-section{
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.show {
  opacity: 1;
  transform: translateY(0);
}

.container {
  background-image: linear-gradient(to right, #ffffff, #dbdbdb);
  font-family: 'Nohemi';
  max-width: 1366px;
  padding: 2rem;
}

.intro {
  text-align: left;
  margin-bottom: 0px;
}

.intro h1 {
  font-family: 'Nohemi';
  font-weight: 600;
  font-size: 100px;
  color: #000004;
}

.intro span{
  margin-left: -20px;
  padding-top: 40px;
    font-family: 'Nohemi';
    font-size: 100px;
    font-weight: 900;
}

.Resume-section{
  background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;
    border-radius: 20px;
}


.left-panel{
  padding: 20px;
  align-content: space-around;
  justify-items: center;
}
.right-panel {
  padding: 20px;
  align-content: space-around;
  justify-items: center;
  }

  .profile-photo{
    width: 480px;
    justify-items: center;
    max-width: 430px;
  }
  .colorwheel{
    position: absolute;
    z-index: -1;
    display: none;
  }

  .pfp{

    z-index: 1;
  }

.profile-photo img {
  position: relative;
  width: 508px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  bottom: -6px;
}

.card {
  width: 300px;
  color: #000004;
  background: #ccff00;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-family: 'Nohemi';
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.card p{
  font-size: 15px;
  font-weight: 500;
}

.card ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.experiences{
  display: flex;
  flex-direction: column;
}

.card ul li {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.card ul li svg{
  width: 50px;
}
.contact a {
  color: #333;
  text-decoration: none;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a svg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.contact p strong{
  line-height: 25px;
  font-family: 'Nohemi';
  font-weight: 600;
  font-size: 20px;
}

.contact p {
  font-size: 15px;
  font-weight: 500;
}

.contact p a{
  font-size: 15px;
  font-weight: 500;
}

.download-btn {
  text-align: center;
  font-family: 'Nohemi';
  display: inline-block;
  padding: 15px 60px;
  color: #000004;
  border: 2px solid #000004;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.download-btn:hover {
  background-color: #fff;
  color: #000004;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.portfolio-section{
  align-content: center;
  background-color: #ccff00;
  padding: 2rem;
  height: 50vh;
  width: auto;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.show {
  opacity: 1;
  transform: translateY(0);}

  .portfolio-section h1{
    font-family: 'Nohemi';
    font-size: 100px;
    font-weight: 600;
    text-align: center;
  }

  .footer{
    height: 10vh;
    background-color: #000004;
  }

  .footer-links{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .footer-links a {
    font-family: 'Nohemi';
    color: #ccff00;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s;
    font-size: 20px;
  }
 @media screen and (min-width: 1266px) and (max-width: 1366px) {
 .lp-video video{
  height: 140%;
 }

 .hero-image{
  height: 50vh;
 }

 .about-content{
  height: 30vh;
 }
 .about-section{
  height: 50vh;
 }

 .about-content p{
  font-size: 29px;
 }

 .portfolio-section{
  height: 35vh;
 }
 }

 @media screen and (min-width: 1024px) and (max-width: 1200px){
  .Resume-section{
    overflow: hidden;
  }

  .main-heading{
    font-size: 100px;
    line-height: 90px;
  }
  .lp-video video {
    height: 130%;
  }
  .hero-image{
    height: 40vh;
  }

  .about-section{
    height: 50vh;
  }
  .about-content{
    height: 30vh;
  }

  .about-content p{
    font-size: 22px;
    line-height:50px;
  }

  .Resume-section{
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .card{
    width: 250px;
  }

  .profile-photo img{
    width: 310px;
    height: 400px;
    bottom: -110px;
  }

  .card ul li svg {
    width: 44px;
}

.download-btn{
font-size: 14px;
}

.portfolio-section{
  height: 30vh;
 }

 .footer-links{
  padding: 40px;
 }
 }

 @media screen and (min-width: 992px) and (max-width: 1023px){
  .main-heading{
    font-size: 100px;
    line-height: 90px;
  }

  .lp-video{
    height: 70px;
  }

  .lp-video video{
      height: 170px;
      width: auto;
  }

  .hero-image{
    height: 45vh;
  }
  .badge{
    padding: 0.5rem 0.8rem;
  }

  .about-section{
    height: 50vh;
  }

  .about-content{
    height: 30vh;
  }

  .about-content p{
    font-size: 21px;
    line-height: 42px;
  }

  .Resume-section{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .card{
    width: 220px;
  }
  .card ul li svg {
    width: 37px;
 }
.profile-photo img {
  right: 60px;
  height: 440px;
  width: auto;
  bottom: -75px;
  }
  .portfolio-section{
    height: 30vh;
   }
  
   .footer-links{
    padding: 40px;
   }
}

@media screen and (min-width: 901px) and (max-width: 991px){
  .main-heading{
    font-size: 90px;
    line-height: 80px;
  }

  .lp-video{
    height: 50px;
  }

  .lp-video video {
    height: 280%;
    width: auto;
  }

  .subheading{
    font-size: 12px;
  }
  .badges{
    margin-top: 10px;
  }
  .badge{
    padding: 7px 3px;
  }

  .hero-image{
    height: 40vh;
  }

  .about-section{
    height: 50vh;
  }
  .about-content{
    height: 30vh;
  }

  .about-content p{
    font-size: 19px;
    line-height: 43px;
  }

  .Resume-section{
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }

  .card{
    width: 200px;
  }
  .contact p a {
    font-size: 13px;
    font-weight: 500;
 }
.profile-photo img {
  right: 60px;
  height: 440px;
  width: auto;
  bottom: -75px;
  }
  .card ul li svg {
    width: 34px;
  }
  .portfolio-section{
    height: 30vh;
   }
  
   .footer-links{
    padding: 40px;
   }
}
